.mensaje{
    text-align: center;
    color:#FF8000


}

@keyframes show {

    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity:1;
        scale: 100%;


    }
}

h2{
    view-timeline-name: --text;
    view-timeline-axis: block;

    animation-timeline: --text;
    animation-name: show;

    animation-range: entry 25% cover 30%;


}