.cuerpoAltaEmpleado {
    position: relative;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    overflow: hidden;
}
  .cuerpoAltaEmpleado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://external-preview.redd.it/using-cloth-simulation-for-a-jellyfish-v0-4LtusdKdQd5PBAW1-mcMV8YcpF_YkUiTekGg-laYZH0.png?format=pjpg&auto=webp&s=0f51f003ca45860a21017f67d8cf5679d10079ba);
    background-size: cover;
    background-position: center center;
    filter: brightness(110%) blur(0px); /* Aplica el desenfoque solo a la imagen */
    z-index: -1; /* Asegura que la imagen quede detrás del contenido */
  }
  
  .Listado {
    position: relative;
    z-index: 1; /* Mantiene el contenido encima del fondo */
    padding: 20px;
    overflow: auto; /* Permite scroll si el contenido excede el tamaño */
    transform: translateY(15%);
    height: calc(100vh - 150px); /* Altura fija para evitar movimiento */
    max-height: calc(100vh - 150px); /* Limita el máximo tamaño */
  }
  
  .altaEmpleado {
    position: absolute; /* Cambia a absolute para que no siga el scroll */
    top: 23px;
    right: 237px; /* Posición desde el borde derecho */
    z-index: 2; /* Asegura que esté encima del contenido */
    background-color: #1f1f1f; /* Fondo oscuro para el botón */
    padding: 8px 20px;
    border-radius: 5px;
  }
  
  .altaEmpleado button {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #585858;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .altaEmpleado button:hover {
    background-color: #444; /* Color de fondo al pasar el cursor */
  }
  
  .altaEmpleado button:focus {
    outline: none; /* Elimina el contorno cuando el botón está en foco */
  }
  
  /* Personalizar la barra de scroll */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra vertical */
  height: 12px; /* Altura de la barra horizontal */
}

/* Fondo de la barra de scroll */
::-webkit-scrollbar-track {
  background: #1f1f1f; /* Fondo oscuro para el track */
  border-radius: 10px;
}

/* Barra deslizante */
::-webkit-scrollbar-thumb {
  background: #535353; /* Color de la barra deslizante */
  border-radius: 10px;
  border: 3px solid #1f1f1f; /* Espaciado con el fondo */
}

/* Barra deslizante en hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5; /* Color más claro al pasar el mouse */
}

/* Soporte para otros navegadores */
.scrollbar-track {
  scrollbar-color: #636363 #1f1f1f; /* Barra deslizante y fondo */
  scrollbar-width: thin; /* Tamaño reducido */
}
