/* Contenedor principal */
.todo {
    background-color: rgb(65, 65, 65);
    position: relative;
    z-index: 0;
}

/* Estilos para el título y las cartas */
.card-title, .CartaTextoPist {
    text-align: center;
}

/* Imagen de fondo con desenfoque */
.pagePista {
    backdrop-filter: blur(25px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Botón de añadir */
.botonAnadir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

/* Estilos para las tarjetas */
.class {
    width: 18rem;
    margin-left: 40px;
    margin-top: 50px;
    display: inline-block;
    align-items: center;
    max-width: 300px;
    min-height: 300px;
}

.card {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 8px;
    backdrop-filter: blur(25px);
}

/* Botones de la tarjeta */
.boton {
    position: relative;
    background: #ff000000;
    color: white;
    justify-content: space-between;
    display: flex;
    margin: 20px;
    left: 60px;
    top: -2px;
}

/* Estilos para los botones */
.Cerrar {
    background-color: red;
    border-color: white;
}

.Guardar {
    background-color: #46a346;
    border-color: white;
}

.Cerrar:hover {
    background-color: rgb(156, 0, 0);
}

.Guardar:hover {
    background-color: #388338;
}

.Añadir {
    background-color: #FF8000;
    border-color: white;
}

.Añadir:hover {
    background-color: #a55301;
    border-color: white;
}

/* Estilos de los inputs */
.form-control {
    background-color: transparent !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 8px;
    height: 35px;
    padding: 5px;
}

input::placeholder {
    color: white;
}

/* Estilos del modal */
.custom-modal .modal-content {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
    border-radius: 8px;
    border: 2px solid white;
}

.mb-3 {
    margin-bottom: 15px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .todo {
        padding: 10px;
    }

    /* Ajuste para el botón de añadir */
    .botonAnadir {
        flex-direction: column;
        margin-top: 10px;
    }

    /* Ajuste de tamaño de las tarjetas */
    .class {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    /* Ajustes para las tarjetas */
    .card {
        left: 60px;
        margin: 10px auto;
    }

    /* Ajuste para la página de la pista */
    .pagePista {
        height: auto;
    }

    /* Ajustes para el modal */
    .custom-modal .modal-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-modal .Cerrar,
    .custom-modal .Guardar {
        width: 100%;
        margin-bottom: 10px;
    }

    .cartas-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    /* Ajustes adicionales para pantallas muy pequeñas */
    .class {
        width: 100%;
        margin-left: 0;
    }

    .custom-modal .modal-content {
        left: 87px;
        width: 83%;
    }
    .botonAnadir {
        flex-direction: column;
    }

    .boton {
        left: 20px;
        margin: 10px 0;
    }
}

@media (max-width: 769px) {
    /* Ajustes para pantallas medianas (tablets) */
    .custom-modal .modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .custom-modal .Cerrar,
    .custom-modal .Guardar {
        width: auto;
        margin-bottom: 0;
    }
}
