.todo {
    background-color: rgb(65, 65, 65);
    position: relative; /* Permite el posicionamiento absoluto de elementos hijos */
    z-index: 0; /* Asegura que el contenido esté por encima */
}
.card-text{
  text-align: center;
}
.pagePista {
    backdrop-filter:blur(25px) ;
    position: fixed; /* Posiciona la imagen de manera absoluta */
    top: 0; /* Coloca la imagen en la parte superior */
    left: 0; /* Alinea la imagen a la izquierda */
    width: 100%; /* La imagen ocupa todo el ancho */
    height: 100%; /* La imagen ocupa todo el alto */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

.botonAnadir {
    display: flex;
    align-items: center; /* Cambia a align-items para alinear verticalmente */
    justify-content: center;
    margin-top: 20px;
    position: relative; /* Asegúrate de que esté en el contexto del contenedor */
    z-index: 1; /* Asegúrate de que esté por encima de la imagen de fondo */
}

.class {
    width: 18rem;
    margin-left: 40px;/* Estilos para los inputs transparentes con texto blanco */
    /* También aseguramos que los campos de selección tengan el mismo estilo */
    select {
      background-color: transparent !important;
      color: white !important;
      border: 2px solid white !important;
      border-radius: 8px;
      padding: 5px;
    }
    
    /* Opcionales: añadir un poco de espacio alrededor de los inputs */
    .mb-3 {
      margin-bottom: 15px;
    }
    
    margin-top: 50px;
    display: inline-block;
    align-items: center;
    max-width: 300px;
    min-height: 300px;
}

.card {
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo blanco con 50% de opacidad */
    border: 1px solid white;
    border-radius: 8px; /* Opcional: bordes redondeados */
    backdrop-filter:blur(25px) ;
}



.boton {
    background: transparent;
    justify-content: space-between;
    display: flex;
    margin: 20px;
    align-items: center;
}
.Cerrar{
    background-color: red;
  border-color: rgb(255, 255, 255);
  }
  .Guardar{
    background-color: #46a346;
    border-color: white;
  
  }
  
  .Cerrar:hover{
    background-color: rgb(156, 0, 0);
  
  }
  
  .Guardar:hover{
    background-color: #388338;
  
  
  }.Añadir{
    background-color: #FF8000;
    border-color: white;
  }
  /* Estilos para los inputs transparentes con texto blanco */
.form-control {
    background-color: transparent !important; /* Hace el fondo transparente */
    color: white !important; /* Hace que el texto sea blanco */
    border: 2px solid white !important; /* Borde blanco */
    border-radius: 8px; /* Bordes redondeados */
    height: 35px; /* Puedes ajustar la altura según lo necesites */
    padding: 5px; /* Espaciado interno para un mejor diseño */
  }
  
  input::placeholder {
    color: white; /* Hace que los placeholders también sean blancos */
  }
  
  /* También aseguramos que los campos de selección tengan el mismo estilo */
  /* Estilo para los botones dentro del modal */
.custom-modal .modal-content  {
      color: white;
      background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
      backdrop-filter:blur(25px) ;
      border-radius: 8px; 
      border: 2px solid white;
  }
  
  /* Opcionales: añadir un poco de espacio alrededor de los inputs */
  .mb-3 {
    margin-bottom: 15px;
  }

  .Añadir:hover{
    background-color: #a55301;
    border-color: white;
  
  }