.todo {
    background-color: rgb(65, 65, 65);
    position: relative;
    z-index: 0;
}

.card-title , .CartaTextoPist {
    text-align: center;
}

.pagePista {
    backdrop-filter: blur(25px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.botonAnadir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.class {
    width: 18rem;
    margin-left: 40px;
    margin-top: 50px;
    display: inline-block;
    align-items: center;
    max-width: 300px;
    min-height: 300px;
}

.card {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 8px;
    backdrop-filter: blur(25px);
}

.boton {
    position: relative;
    background: #ff000000;
    color: white;
    justify-content: space-between;
    display: flex;
    margin: 20px;
    left: 60px;
    top: -2px;
}

.Cerrar {
    background-color: red;
    border-color: white;
}

.Guardar {
    background-color: #46a346;
    border-color: white;
}

.Cerrar:hover {
    background-color: rgb(156, 0, 0);
}

.Guardar:hover {
    background-color: #388338;
}

.Añadir {
    background-color: #FF8000;
    border-color: white;
}

.Añadir:hover {
    background-color: #a55301;
    border-color: white;
}

.form-control {
    background-color: transparent !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 8px;
    height: 35px;
    padding: 5px;
}

input::placeholder {
    color: white;
}

.custom-modal .modal-content {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
    border-radius: 8px;
    border: 2px solid white;
}

.mb-3 {
    margin-bottom: 15px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .todo {
        padding: 10px;
    }

    .botonAnadir {
        flex-direction: column;
        margin-top: 10px;
    }

    .class {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .card {
        margin: 10px auto;
    }

    .pagePista {
        height: auto;
    }

    .custom-modal .modal-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-modal .Cerrar,
    .custom-modal .Guardar {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) {
    .custom-modal .modal-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .custom-modal .Cerrar,
    .custom-modal .Guardar {
        width: auto;
        margin-bottom: 0;
    }
}
