/* General - Contenedor para los inputs */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@400;700&family=Audiowide&display=swap');
.containerCarrera {
  display: flex;
  flex-direction: column; /* Apilar los inputs */
  gap: 20px; /* Espacio entre los inputs */
}

/* Ajuste para cada campo de input */
.field-container1,
.field-container2,
.field-container4,
.field-container5 {
  display: flex;
  flex-direction: column;
}
.card-body{
  height:278px;

}
.pageCarrera {
  backdrop-filter:blur(25px) ;
  position: fixed; /* Posiciona la imagen de manera absoluta */
  top: 0; /* Coloca la imagen en la parte superior */
  left: 0; /* Alinea la imagen a la izquierda */
  width: 100%; /* La imagen ocupa todo el ancho */
  height: 100%; /* La imagen ocupa todo el alto */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  z-index: -1; /* Coloca la imagen detrás del contenido */
}
.imagenCarrera {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Coloca la imagen detrás del contenido */
  border-radius: 12px;
  filter:brightness(60%)
}
.botonCar{
  position: relative;
  background: #ff000000;
  color: white;
  justify-content: space-between;
  display: flex;
  margin: 20px;
  left: 48px;
  top: 44px;
}
.Pilotos{
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-weight: bold;
  left: 81px;
  top: 44px;
  margin: 0px;
  background: rgb(0, 0, 0);
  text-align: center;
  color: #ffffff;
  width: 154px;
}
.inputCarrera option{
  background-color: rgb(0 0 0);
}
.CartaTexto{
  font-weight: bold; 

  font-family: 'Audiowide', sans-serif;
  position: relative;
  top: -4px;
  left: 21px;
  text-align: center;
  color: #000000;
  background-color:#FF8000;
  margin: 0px;
  width: 60px;
  filter: brightness(120%);
}
/* Input de vueltas - Ajuste para el botón al lado derecho */
.field-container3 {
  width: 111%; /* Centrar verticalmente el input y el botón */
}

.input {
  width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
}

/* Estilos para el modal */
.custom-modalCarreras {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  position: fixed; /* Fija el modal en la pantalla */
  top: 10%;
  left: 0;
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  height: 100vh; /* Ocupa todo el alto de la pantalla */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1050; /* Asegura que esté por encima de otros elementos */
}

/* Estilos para el contenido del modal */
.custom-modalCarreras .modal-content {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 8px;
  color: white;
  width: auto; /* Ancho automático según el contenido */
  max-width: 90%; /* Limita el ancho máximo para que no sea demasiado grande */
  margin: 0 auto; /* Centra el contenido dentro del modal */
}
.field-container3 p{
  width: 100px;
}

.buttonTele {
  width: 40%;
  border: 2px solid white;
  border-radius: 8px;
  height: 35px;
  text-align: center;
  position: absolute;
  bottom: 94px;
  right: 25px;
  margin-left: 10px; /* Separar el botón del input */
  background: transparent;
  display: flex;
  color: white;
}
.buttonTele:hover {
  cursor: pointer;
}

.buttonTele:disabled {
  cursor: not-allowed;
}

/* Estilos especiales para cuando la telemetría está verificada */
.buttonTele.verified {
  background-color: green;
}

.buttonTele.failed {
  background-color: red;
}

.field-container3 input{
  width: 90%;


}

.Cerrar{
  background-color: red;
border-color: rgb(255, 255, 255);
}
.Guardar{
  background-color: #46a346;
  border-color: white;

}

.Cerrar:hover{
  background-color: rgb(156, 0, 0);

}

.Guardar:hover{
  background-color: #388338;


}

.inputCarrera{
  background-color: rgb(0,0,0,0.1);
  border: 2px solid white;
  border-radius: 8px;
  height: 35px;
  color: white;
}
select{
  background-color: rgb(0,0,0,0.1);
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  height: 35px;
}
.Añadir{
  background-color: #FF8000;
  border-color: white;
}
.Añadir:hover{
  background-color: #a55301;
  border-color: white;

}

.modal-content {
  flex-direction: column;
  width: 137%;
  pointer-events: auto;
  backdrop-filter: blur(20px);
  background-color:rgba(0, 0, 0, 0.534);
  background-clip: padding-box;
  border: 2px solid white;
  border-radius: 8px;
 color: white;
  outline: 0;
}

.Telemetrias{
  color: white;

}