@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.Todo{
    background: #000000;



}
.bar{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: black;
    background-position: 0%;
    align-items: center;  
    color: white;
}

.Logo {
    width: 60px;
    height: auto;
    transform: translateX(10%);
    cursor:pointer;
    background-color: black;
}

.Logo_central{
    width: 200px;
    height: auto;
    cursor:pointer;

}

.user{
    transform: translateX(-50%);
    background-color: rgb(39, 39, 39);
    border-width: 20px;
    border-radius: 10px;
    padding: 4px;

}

.menu{
    text-align: center;
    object-fit: cover;
}



.carrusel {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.item .img-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.item .img-box::before {
    content: '';
    position: absolute;
    top: 200px;
    width: 100%;
    height: 300px;
    background: #47c7fc;
    border-radius: 50%;
    filter: blur(200px);
    overflow: hidden;
}

.item.active .img-box {
    transform: translateY(0);
}

.item:nth-child(1) .img-box {
    background: #000000;
}
.item:nth-child(2) .img-box {
    background: #000000;
}
.item:nth-child(3) .img-box {
    background: #000000;
}
.item:nth-child(4) .img-box {
    background: #000000;
}



.img-box img {
    position: absolute;
    bottom: 0;
    filter: drop-shadow(0 0 10px black);
    top: 400px;
    width: 50%;
    height: auto;
}
.img-box .pilot{
    transform: translateY(-100%);



}

.img-box .anio{
    transform: translate(-400%);
    width: 10%;
    height: auto;

}

.item .info-box {
    position: absolute;
    left: 3%;
    top: 25%;
    transform: translateY(-50%);
    width: 450px;
    height: 280px;
    z-index: 1;

    display: flex;
    flex-direction: column; /* Para alinear los elementos verticalmente */
    justify-content: center;
    padding: 20px;
}
.info-box .info-slider{
    transition: .7s cubic-bezier(0.68, -0.55, 0.1, 1);



}
.info-slider .info-item {
    height: 100%; /* Cambiado para usar todo el espacio del contenedor */
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté uno debajo del otro */
    justify-content: center;
    align-items: flex-start; /* Alinear el contenido al inicio (izquierda) */
    color: black;
    transform: translateY(calc(var(--i) * 100%));
    transition: transform 0.5s ease-in-out;
}

.info-item h1 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 10px; /* Espacio debajo del título */
}

.info-item p {
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
}

.thumb {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    z-index: 100;
}

.thumb li {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    margin: 25px 0;
    overflow: hidden;
}

.thumb li.selected {
    border: 3px solid #FF8000;
}

.thumb li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video{
    display: flex;
    justify-content: center;



}
