div .Barra{
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: black;
  background-position: 0%;
  a}
.Logo{
  width: 100px;
  height: auto;
}
div .Log{
  padding: 10px;
