/* Barra principal */
.barBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1px 9px;
  color: white;
}

/* Logo izquierda */
.LogoBar {
  width: 60px;
  cursor: pointer;
  position: relative;
  left: -26px;
  top: 5px;
}
.userBar {
  color: rgb(0, 0, 0);
  transform: translateY(36%);
}
.Logo_centralBar {
  width: 200px;
  cursor: pointer;
}

/* Menú vertical izquierdo */
.menuHorizontalBar {
  list-style: none;
}

.menuVerticalBar {
  position: absolute;
  display: none;
  list-style: none;
  width: 300px;
  z-index: 1000;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  padding: 10px;
}

.menuHorizontalBar img {
  width: auto;
  height: 50px;
}

.menuHorizontalBar li:hover .menuVerticalBar {
  padding-left: 40px;
  width: 21%;
  display: block;
  transform: translateX(-25%);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(25px);
}

.menuVerticalBar li:hover {
  background-color: transparent;
  padding: 0px;
  text-align: center;
  color: black;
}

.menuVerticalBar li a {
  display: flex;
  color: rgba(255, 255, 255, 0);
  padding: 10px;
}

.menuVerticalBar li:hover {
  color: #000000;
  border: none;
}

.menuHorizontalBar li .menuVerticalBar button {
  background: none;
  border: none;
  color: #ffffff8d;
  font-size: 18px;
  padding: 15px;
  margin: 0;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.menuHorizontalBar li .menuVerticalBar button:hover {
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.menuHorizontalBar li:hover .menuVerticalBar {
  display: block;
}

/* Menú de usuario (derecha) */
.userMenuBar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.userInfoBar {
  cursor: pointer;
}

.userInfoBar img {
  height: 40px;
  width: auto;
}

.menuVerticalUserBar {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(25px);
  color: #ffffff;
  padding: 30px;
  list-style: none;
  z-index: 1000;
  border: none;
  font-size: 18px;
  box-sizing: border-box;
  transform: translateX(4%);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .menuVerticalUserBar {
    width: 50%;
    right: 0;
  }
}

.userInfoBar:hover + .menuVerticalUserBar,
.menuVerticalUserBar:hover {
  display: list-item;
}

.menuVerticalUserBar li {
  padding: 8px 20px;
  white-space: nowrap;
  text-align: center;

}

.logoutButtonBar {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.logoutButtonBar:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 5px 10px;
}
.loginButtonBar {
  background-color: #FF8000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButtonBar:hover {
  background-color: #c76300;
}
.barBar.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}