.footer {
    border-top: 1px solid #FF8000;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-social {
    margin-top: 10px;
}

.footer .footer-social a {
    margin: 0 5px;
    display: inline-block;
}

.footer .footer-social img {
    width: 24px;
    height: 24px;
}
