.footer {
    border-top: 1px solid #ff800042;
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-logo img {
    width: 50px;
    height: auto;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-social {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer .footer-social a {
    margin: 0 8px;
    display: inline-block;
}

.footer .footer-social img {
    width: 24px;
    height: 24px;
}
