@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans:ital,wght@0,300;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto sans", sans-serif;
}

.nameDepar{
  font-family: "Montserrat", sans-serif;
}

.FondoDepar{
  filter:brightness(100%)  blur(5px);
  opacity: 0.5;
  position: fixed;
}
body {
  background: #eaeaea;
  overflow: hidden;
}

.containerDepartamento 
{
  background-color: rgb(0,0,0,0);
  position: absolute;
  top: 50%;
  left: 24%;
  width: 1055px;
  height: 574px;
  transform: translate(-19%, 0%);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 0%;

}
.text-containerDepartamento {
  flex: 1;
  padding: 20px;
  color: #000000;
  font-family: "Noto sans", sans-serif;
  z-index: 2; /* Asegura que el texto esté sobre la imagen */
  position: relative; /* Para posicionar el texto encima */
  transform: translate(160px, 10px);

}

.text-containerDepartamento .nameDepar {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.text-containerDepartamento .desDepar {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.text-containerDepartamento button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #FF8000;
  color: #000000;
  border-radius: 5px;
  border: 2px solid black;
}

.text-containerDepartamento button:hover{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #cc6600;
  color: #000000;
  border-radius: 5px;
  border: 2px solid black;
}
.slide-containerDepartamento {
  flex: 1;
  position: initial;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  opacity: 0.1;
  z-index: 1; /* Mantener la imagen en el fondo */
}

.item.active {
  opacity: 1;
}

.buttonDepar {
  background-color: #000000;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -11px;
  z-index: 3;
}

.buttonDepar button {
  bottom: 0px;;
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
  background-color: #FF8000;
}

.buttonDepar button:hover {
  background: #ababab;
  color: #fff;
}

button img{
  width: 45px;
  transform: translate(-10%,-20%);
}

.inputTicket {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid #333 !important;
}