.cuerpoAltaPieza {
  position: relative;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100%;/* Ocupa todo el ancho de la ventana */
}

.TituloCRUD{
  color: #90caf9;
  text-align: center;

}
.cuerpoAltaPieza::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../Imagenes/tallermecanico.jpg');
  background-size: cover;
  background-position: center center;
  filter: brightness(110%) blur(0px); /* Aplica el desenfoque solo a la imagen */
  z-index: -1; /* Asegura que la imagen quede detrás del contenido */
}

.Listado {
  position: relative;
  z-index: 1; /* Mantiene el contenido encima del fondo */
  padding: 20px;
  overflow: auto; /* Permite scroll si el contenido excede el tamaño */
  transform: translateY(15%);
  height: calc(100vh - 150px); /* Altura fija para evitar movimiento */
  max-height: calc(100vh - 150px); /* Limita el máximo tamaño */
}

.altaPieza {
  position: absolute; /* Cambia a absolute para que no siga el scroll */
  top: 23px;
  right: 237px; /* Posición desde el borde derecho */
  z-index: 2; /* Asegura que esté encima del contenido */
  background-color: #1f1f1f; /* Fondo oscuro para el botón */
  padding: 8px 20px;
  border-radius: 5px;
  outline: none;  /* Eliminar el contorno */
  background-color: transparent; /* Revertir el color de fondo al original */
  box-shadow: none;
}

.altaPieza button {
  background-color: #1f1f1f;
  color: #ffffff;
  border: 1px solid #585858;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  box-shadow: none;
}

.altaPieza button:hover {
  background-color: #1f1f1f; /* Fondo igual al estado normal */
  color: inherit; /* Color de fondo al pasar el cursor */
  cursor: default;
}
.altaPieza button:focus-visible,
.altaPieza button:focus {
  outline: none;  /* Eliminar el contorno */
  background-color: #1f1f1f;; /* Revertir el color de fondo al original */
  box-shadow: none; /* Elimina el contorno cuando el botón está en foco */
}

.editar{
  margin-right: 5%;
}

/* Personalizar la barra de scroll */
::-webkit-scrollbar {
width: 12px; /* Ancho de la barra vertical */
height: 12px;
display: none; /* Altura de la barra horizontal */
}

.scroll-area {
  overflow-y: auto;
  max-height: 500px; /* Ajusta según tu diseño */
}

/* Fondo de la barra de scroll */
::-webkit-scrollbar-track {
background: #1f1f1f; /* Fondo oscuro para el track */
border-radius: 10px;
}

/* Barra deslizante */
::-webkit-scrollbar-thumb {
background: #535353; /* Color de la barra deslizante */
border-radius: 10px;
border: 3px solid #1f1f1f; /* Espaciado con el fondo */
}

/* Barra deslizante en hover */
::-webkit-scrollbar-thumb:hover {
background: #a5a5a5; /* Color más claro al pasar el mouse */
}

/* Soporte para otros navegadores */
.scrollbar-track {
scrollbar-color: #636363 #1f1f1f; /* Barra deslizante y fondo */
scrollbar-width: thin; /* Tamaño reducido */
}
