.Envoltura{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;



}
.video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
  background: black;
}
.video .video1{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto; 
  height: auto; 
  object-fit: cover; 
  transform: translate(-50%, -50%); 
}

.Envoltura2{
  width: 320px;
  background:transparent;
  backdrop-filter:blur(25px) ;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 30px 40px ;
}

.Envoltura2 h1{
  font-size: 36px;
  text-align: center;
}

.Envoltura2 .log_caja{
  position: relative;
  width: 100%;

  margin: 30px 0;   

}

.log_caja input{
  width: 100%;
  height: 100%;
  color: white;
  background:transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  padding: 20px 45px 20px 30px;
  
}


.log_caja img{
  position: relative;
  right: 20px;
  top: 50%;
  transform: translate(900%, -180%);
  z-index: 1px;
}

.Boton{
  width: 100%;
  height: 45px;
  background: white;
  border:none;
  outline:none;
  border-radius:40px ;
  box-shadow: 0 0 10px rgba(0,0,0 .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.imagen{
  align-items: center;



}