
.bar{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: black;
    background-position: 0%;
    align-items: center;  
    color: white;

}

.Logo {
    width: 60px;
    height: auto;
    transform: translateX(10%);
    cursor:pointer;
    background-color: black;
}

.Logo_central{
    width: 200px;
    height: auto;
    cursor:pointer;

}

.user{
    transform: translateX(-50%);
    background-color: rgb(39, 39, 39);
    border-width: 20px;
    border-radius: 10px;
    padding: 4px;

}

.menuHorizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.menuHorizontal > li > a{
    display: block;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.menuVertical {
    position: absolute; 
    display: none;
    list-style: none;
    width: 250px;
    background-color: rgb(255, 0, 0);
    z-index: 1000; 
}




.menuVertical li a{
    display: flex;
    color:white;


}