.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
}

.card-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card-image:hover {
  transform: scale(1.05);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: opacity 0.3s ease-in-out;
}

.card-image:hover .card-overlay {
  opacity: 1;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  text-align: center;
}

.circuit-title {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  color: white;
  margin-top: 10px;
  margin-bottom: 0%;
  text-align: center;
}
