
/* Posicionamiento de los campos alrededor de la imagen */
.imagenEstrategia{
width: 100%;
}
#AleronD {
    width: 160px;
    position: absolute;
    top: 24%;
    left: 4%;
    padding: 8px;
    border-radius: 6px;
    border: 3px solid #CCA;
    background-color: rgb(1, 1, 1, 1);
    color: #ffffff;
}

#Motor {
    
    width: 160px;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translateX(-50%);padding: 8px;
    border-radius: 6px;
    border: 3px solid #CCA;
    background-color: rgb(1, 1, 1, 1);
    color: #fff;
}

#CajaCambios {
    
    width: 160px;
    position: absolute;
    top: 40%;
    left: 60%;padding: 8px;
    border-radius: 6px;
    border: 3px solid #CCA;
    background-color: rgb(1, 1, 1, 1);
    color: #fff;
}

#AleronT {
    
    width: 160px;
    position: absolute;
    top: 39%;
    left: 82%;padding: 8px;
    border-radius: 6px;
    border: 3px solid #CCA;
    background-color: rgb(1, 1, 1, 1);
    color: #fff;
}

#Pontones {
    
    width: 160px;
    position: absolute;
    top: 90%;
    left: 8%;padding: 8px;
    border-radius: 6px;
    border: 3px solid #CCA;
    background-color: rgb(1, 1, 1, 1);
    color: #fff;
}

#FondoPlano {
    
    width: 160px;
    position: absolute;
    bottom: 5%;
    left: 45%;padding: 8px;
    border-radius: 6px;
    border: 3px solid #CCA;
    background-color: rgb(1, 1, 1, 1);
    color: #fff;
}

#Difusor {
    width: 160px;
    position: absolute;
    bottom: 1%;
    left: 76%;padding: 8px;
    border-radius: 6px;
    border: 3px solid #CCA;
    background-color: rgb(1, 1, 1, 1);
    color: #fff;
}
