/* Aseguramos que el contenedor .todo ocupe todo el espacio */
.todo {
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100vh;  /* O 100% si prefieres que sea relativo a su contenedor padre */
    overflow: auto;  /* Permite el scroll */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Pseudo-elemento para añadir el filtro negro sobre la imagen */
.todo::before {
    content: '';  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter:blur(5px);
    z-index: -1;
}

/* Imagen de fondo */
.pagePista {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.form-select:disabled {
    background-color: #000000;
}

se
/* Contenedor principal del modal */
.modal-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Contenedor de las dos columnas */
.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Cada columna ocupa el 48% del ancho en pantallas grandes */
.aerodinamica, .grupo-motor {
    width: 48%;
}

/* Títulos de cada apartado */
.aerodinamica h5, .grupo-motor h5 {
    margin: 15px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

/* Ajustes de los selects */
select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: rgba(1, 1, 1, 0.2);
}

/* Estilos del modal */
.listadoEstrategiaModal .modal-dialog {
    left: 0;
    top: 40px;
    transform: none;
    max-width: 90%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .input-container {
        flex-direction: column;
        align-items: center;
    }

    .aerodinamica, .grupo-motor {
        width: 100%;
    }

    .Modelito {
        width: 100%;
    }

    .Modelo {
        transform: none;
    }

    .listadoEstrategiaModal .modal-dialog {
        max-width: 95%;
    }
}
