/* Barra de progreso */
.todoHome{
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  position: fixed;
  width: 100%;
  height: 100vh;  /* O 100% si prefieres que sea relativo a su contenedor padre */
  overflow: auto;  /* Permite el scroll */
  background-size: cover;  /* Hace que la imagen cubra todo el fondo */
  background-position: center center;  /* Centra la imagen */
  background-attachment: fixed;  /* Fija la imagen mientras se hace scroll */
}


.progress-bar-group {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}

.progress-bar {
  width: 50px;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.progress-bar.active .progress {
    background: #ff8000;
}

.progress-bar.active {
    background: rgba(255, 255, 255, 0.5);
}

.progress {
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transition: width 0.5s linear;
}

/* Contenido carrusel */

.carousel-content {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  padding: 20px 5%;
  color: white;
  text-align: left;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0;
  width: 100%;
}

.carousel-content h2 {
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-link {
  margin-top: 10px;
  display: inline-block;
  padding: 12px 18px;
  background: #ff8000b3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2px;
  font-family: "Noto sans", sans-serif;
  font-weight: bold;
}

.carousel-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* Flechas */

.carousel-navigation {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.nav-button {
  background: transparent;
  border: none;
  font-size: 4rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav-button:hover {
  opacity: 1;
}

/* Transicion */

.carousel-slide {
  display: flex;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}
  
.carousel-item {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item.active {
  opacity: 1;
}