/* General */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Noto sans", sans-serif;
    
  }
  
  .TodoRegistro {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .FotoRegistro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(10%) blur(5px);;
  }
  
  .form-container {
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    backdrop-filter: blur(22px);
    border: 2px solid #ffffff;
    border-radius: 8px;
    width: 500px;
    text-align: center;
  }
  
  .form-container input {
    border: 1px solid white;
  }
  
  .tituloRegistro {
    color: white;
  }
  
  .form-container h1 {
    font-size: 27px;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
  }
  
  .form-group input {
    background-color: #00000015;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    color:white;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  .form-row .form-group {
    flex: 1;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
  }
  
  .form-actions button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-actions .cancel-btn {
    background: black;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
  }

  .form-actions .cancel-btn:hover {
    border: 2px solid rgba(255, 0, 0, 0.5);
  }
  
  .form-actions .submit-btn {
    background: black;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
  }

  .form-actions .submit-btn:hover {
    border: 2px solid rgba(0, 128, 0, 0.5);
  }
  
  .form-actions button:hover {
    opacity: 0.9;
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border:1px solid white;
  }
  
  .popup {
    background: transparent;
    backdrop-filter:blur(25px) ;
    padding: 30px;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
  }
  
.popup h2{
    color: white;
  }

.popup input{
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    border:1px solid white;
    border-radius: 6px;
    color: white;
    margin-right: 10px;
    margin-top: 20px;
  }

.popup button{
    border-radius: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.753);
    border:1px solid white;
    color: white;
}

.popup button:hover{
  border-color: #FF8000;
}

.go-login-btn {
  background-color: #FF8000;
  border-radius: 6px;
  padding: 10px;
  margin-top: 50px;
  border: 1px solid #ccc;
  color: white;
  font-size: 16px;
  width: auto;
  cursor: pointer;
  text-align: center;
}

.go-login-btn:hover {
  border-color: #FF8000;
}