/* General */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Noto sans", sans-serif;
    
  }
  
  .TodoRegistro {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .FotoRegistro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Mantén la imagen detrás del formulario */
    filter: brightness(10%);
  }
  
  .form-container {
    z-index: 1; /* Asegura que el formulario esté al frente */
    background: rgba(0, 0, 0, 0.2); /* Fondo semitransparente para el formulario */
    padding: 20px;
    backdrop-filter: blur(22px);
    border: 2px solid #ffffff;
    border-radius: 8px;
    width: 500px;
    text-align: center;
  }
  
  .form-container input {
    border: 1px solid white;
  }
  
  .tituloRegistro {
    color: white;
  }
  
  .form-container h1 {
    font-size: 27px;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
  }
  
  .form-group input {
    background-color: #00000015;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    color:white;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  .form-row .form-group {
    flex: 1;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .form-actions button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-actions .cancel-btn {
    background: red;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
  }
  
  .form-actions .submit-btn {
    background: green;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
  }
  
  .form-actions button:hover {
    opacity: 0.9;
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background: rgba(0, 0, 0, 0.562);
    padding: 30px;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
  }
  
.popup h2{
    color: white;


  }

.popup input{
    background-color: #00000015;
    padding: 11px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
  }

.popup button{
    background-color: #FF8000;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateY(1px);
    border:1px solid #ccc;
}