.Envoltura{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.video{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
  background: black;
}

.video .video1{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto; 
  height: auto; 
  object-fit: cover; 
  transform: translate(-50%, -50%); 
}

.Envoltura2{
  background:transparent;
  backdrop-filter:blur(25px) ;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 30px 40px ;
}

.Envoltura2 h1{
  font-size: 36px;
  text-align: center;
}

.Envoltura2 .log_caja{
  position: relative;
  width: 100%;
  height: 57px;
  margin-bottom: 17px;
  padding: 1px;
}

.log_caja input{
  width: 100%;
  height: 100%;
  color: white;
  background:transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  padding: 20px 45px 20px 30px;
}

.ImagenLog{
  position: relative;
  right: -43px;
  top: 7%;
  transform: translate(900%, -180%);
  z-index: 1px;
}

.Boton{
  width: 100%;
  height: 45px;
  background: rgba(0, 0, 0, 0.753);
  border:2px solid white;
  outline:none;
  border-radius:40px ;
  box-shadow: 0 0 10px rgba(0,0,0 .1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.Boton:hover{
  width: 100%;
  height: 45px;
  background: rgb(0, 0, 0);
  border:2px solid #FF8000;
  outline:none;
  border-radius:40px ;
  box-shadow: 0 0 10px rgba(0,0,0 .1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;



}